/* Fill me in :) */
.Profile-avatarContainer {
  padding: 0 35%;
}

.Profile-name {
  font-size: 40px;
  font-weight: 300;
  margin-top: -15%;
  position: relative;
  left: 140px;
}

.Profile-subContainer {
  flex-grow: 1;
  flex-basis: 0;
}

.Profile-subContainer + .Profile-subContainer {
  margin-left: var(--m);
}

.Profile-subTitle {
  font-weight: 300;
  font-size: 24px;
  margin: var(--m) var(--s);
  color: white;
  text-align: center;
}

.Profile-subTitle2 {
  font-weight: 400;
  font-size: 24px;
  margin: var(--m) var(--s);
  color: black;
  text-align: center;
}

/* .Container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
  top: 50px;
} */

.Dropdown {
  width: 400px;
  position: relative;
  /* top: 15px;
  left: 400px; */
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #000;
  padding: 10px 30px;
}

.Position {
  position: relative;
  top: 0px;
  left: 600px;
}

.Outer-Box3 {
  position: relative;
  left: 350px;
  top: 20px;
  display: flex;
  flex-direction: column;
  margin: 5px;
  padding: 5px;
  border: solid black;
  background-color: black;
  width: 350px;
  height: 250px;
  overflow-y: auto;
  text-align: center;
  border-radius: 35px;
}

.Outer-Box2 {
  position: absolute;
  right: 50px;
  top: 20px;
  display: flex;
  flex-direction: column;
  margin: 5px;
  padding: 5px;
  border: solid black;
  background-color: black;
  width: 350px;
  height: 250px;
  overflow-y: auto;
  text-align: center;
  border-radius: 35px;
}

.Posts {
  color: white;
}
