.Profile-avatarContainer {
  padding: 0 15%;
  grid-area: pic;
}

.Profile-name {
  font-size: 56px;
  font-weight: 300;
  grid-area: name;
  margin: var(--m) var(--s);
}

.Profile-subTitle {
  font-weight: 300;
  font-size: 24px;
  margin: var(--m) var(--s);
  color: white;
  text-align: center;
}

.Profile-subTitle2 {
  font-weight: 400;
  font-size: 24px;
  margin: var(--m) var(--s);
  color: black;
  text-align: center;
}

.Container {
  display: grid;
  height: 100vh;
  width: 100%;
  grid-template-columns: 5fr 1fr 5fr;
  grid-template-rows: 2fr 2fr 0.5fr 4fr;
  grid-template-areas:
    "pic . name"
    "pic interests interests"
    ". . ."
    "bio . posts";
}

.Interests-Dropdown {
  width: 70%;
}

.Interests {
  grid-area: interests;
}

.Outer-Box-Bio {
  position: relative;
  display: flex;
  margin: 15px;
  padding: 15px;
  border: solid black;
  background-color: black;
  width: 90%;
  height: 90%;
  overflow-y: auto;
  border-radius: 35px;
  grid-area: bio;
}

.Outer-Box-Posts {
  position: relative;
  display: flex;
  margin: 15px;
  padding: 15px;
  border: solid black;
  background-color: black;
  width: 90%;
  height: 90%;
  overflow-y: auto;
  border-radius: 35px;
  grid-area: posts;
}

.Posts {
  color: white;
  font-size: 16px;
  text-align: center;
}
