.grid {
  margin-left: 240px;
  display: flex; /* establish flex container */
  flex-wrap: wrap; /* enable flex items to wrap */
  justify-content: space-around;
}

.page {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  margin: 0px;
}

.Icon-allContainer {
  width: 33%;
}
.column {
  padding: 2px;
  width: 30%;
  padding: 0px;
  float: left;
  margin: 0px;
}

/*
 Fix CSS for Skeleton.js , Icon.js
 (icons too small)
 */
