.modal-body {
  background-color: #fff;
}

.close {
  color: #fff;
}

.btn-secondary {
  /* padding: 50px 50px; */
  /* position: absolute;
  top: 600px;
  left: 1080px; */
  line-height: 50px;
  display: flex;
  text-align: center;
  justify-content: center;
  height: 60px;
  width: 170px;
  background-color: #000;
  border-color: #000;
  border-radius: 40px;
  font-size: 30px;
}

.btn-secondary:hover {
  background-color: #99d98c;
  border-color: #99d98c;
}

.btn-close {
  display: flex;
  flex-direction: column;
  color: #99d98c;
}

.checkboxes {
  padding: 10px;
}

[type="dswxdsewdxesa`w  12343button"] {
  border-radius: 100px;
}

.Badges-Center {
  margin: 15% 0% 0% 25%;
}
