.textbox {
  /* width: 50%;
  height: 100%;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8; */
  resize: none;
  max-height: 500vh;
  overflow: scroll;
}
