.modal-body {
  background-color: #fff;
  text-align: left;
}

.close {
  color: #fff;
}

.btn-danger {
  background-color: rgb(55, 200, 211);
  /* border-color: #000; */
  /* border-radius: 30%; */
  border: rgb(55, 200, 211);
  width: 100%;
  color: white;
  text-align: center;
  margin: 0 auto;
}

.btn-danger:hover {
  background-color: #99d98c;
  border-color: #99d98c;
}

.btn-danger-close {
  color: #99d98c;
}

.modal-content {
  max-height: 100%;
  overflow: scroll;
  font-size: 16 px;
}

.saveButton {
  width: 20%;
  height: 10%;
  background-color: black;
  border-color: #000;
  border-radius: 50%;
  color: white;
  overflow: hidden;
}

.saveButton:hover {
  background-color: #99d98c;
  border-color: #99d98c;
}

.TextBox {
  box-sizing: border-box;
  border-radius: 15px;
  resize: none;
  overflow: auto;
  font-size: 16 px;
}
