.modal-body {
  background-color: #fff;
}

.close {
  color: #fff;
}

.btn-link-dark {
  /* padding: 10px 10px; */
  /* position: absolute;
  top: 30px;
  left: 1000px; */
  margin: 0% 0% 0% 0%;
  line-height: 30px;
  display: flex;
  text-align: center;
  justify-content: center;
  height: 50px;
  width: 150px;
  background-color: white;
  border-color: white;
  border-radius: 40px;
  font-size: 15px;
}

.btn-link-dark:hover {
  text-align: left;
  background-color: #99d98c;
  border-color: #99d98c;
}

.btn-close {
  display: flex;
  flex-direction: column;
  color: #99d98c;
}

.checkboxes {
  padding: 10px;
}

.spacing {
  padding: 20px;
}

.modal-header-primary {
  background-color: #99d98c;
}

/* .modal-backdrop {
  opacity: 0.05 !important;
} */
