.SideBar-container {
  background-color: rgb(0, 0, 0);
  height:100vh;
  position: fixed;
 }
  
 /*
 height: 100%;
  width: 240px;
  position: fixed;
  background-color: rgb(0, 0, 0);
  overflow-x: hidden;
  overflow-y: hidden;
 */
  
   
 .SideBar-linkContainer {
   display:grid;
  margin-top: 10vh;
  margin-left:16px;
  height: 100vh;
  width: 100vw;
  grid-template-columns:column;
  float:center;
  padding: 25px;
  overflow-y:scroll;
 }
  
 .SideBar-linkContainer div {
  padding: 24px;
  font-size: 2vw;
  display: inline-block;
  text-align: left;
  }
 .SideBar-linkContainer a:hover {
  color: #96ca4f;
 }
  
 .SideBar-link, .SideBar-link:visited {
  color: #f1f1f1;
  opacity: 0.6;
  
  }
 /*.SideBar-link:active{
  color: #96ca4f;
  text-decoration: none;
  display: inline-block;
  text-align: left;
 }*/
  
 .SideBar-link:hover {
  opacity: 0.8;
 }
  
 .SideBar-link.SideBar-login {
  position: absolute;
  margin-top: 100px;
  height: 50px;
  background-color: red;
  overflow: hidden;
  display:block;
  padding: 50px;
  float: center;
 }
 