.image-position {
  /* position: relative;
  width: 50%;
  height: 50%; */
}

.circular--portrait {
  overflow: hidden;
  border-radius: 50%;
  width: 80%;
  height: 80%;
}

.image-button {
  background-color: black;
  border-color: #000;
  color: white;
  font-family: sans-serif;
  cursor: pointer;
  text-align: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position: relative;
  /* line-height: 200%; */

  /* position: absolute;
  top: 20 px; */
  /* line-height: 150%; */
  /* font-size: 100em;
  margin-top: 1rem;  */
  /* position: relative; */
}

.image-button:hover {
  background-color: #99d98c;
  border-color: #99d98c;
}
